*.o
*.d
/kernel.elf
/barnix.iso
/barnix.img
/iso/
/tests/fs_test
/tests/elf_test

/barnix-ext2.img
/live-ext2.img
/barnix-usb.img
__pycache__/

/apps/bin/

/tests/text_test
/tests/shell_parse_test

/userland/*.elf

/kernel-test.elf
