*.o
*.d
/kernel.elf
/barnix.iso
/barnix.img
/iso/
/tests/fs_test
/tests/elf_test

/barnix-ext2.img
/live-ext2.img
/barnix-usb.img
__pycache__/

/apps/bin/

/tests/text_test
/tests/shell_parse_test

/userland/*.elf

/kernel-test.elf
qemu-w64-setup-20260729.exe

/disks/
/tests/vfs_test

/Setup/build/
/Setup/kernel.elf
/Setup/barnix-setup.iso
/Setup/target.img

/tests/large_fs_test

/barnix-legacy-setup.iso
/barnix-efi-setup.iso
/kernel-efi.elf
/Setup/kernel-efi.elf

/Setup/target-efi.img
/Setup/OVMF_VARS.fd

/tests/permissions_test

/BDK/dist/
/BDK/**/__pycache__/
