set timeout=5
set default=0

menuentry "Barnix (ATA disk or CD/DVD live fallback)" {
    multiboot /boot/kernel.elf
    module /boot/live-ext2.img
    boot
}

menuentry "Barnix Live CD/DVD (RAM only)" {
    multiboot /boot/kernel.elf live
    module /boot/live-ext2.img
    boot
}
